@using System.Globalization;
@{
    ViewBag.Title = "TilausDB";
   
}
   
<div class="jumbotron">
    <h1>TilausDB sovellus</h1>
    <p class="lead">Careerian harjoitustyö / Jyrki Reijonen</p>
    <p>Nyt on @DateTime.Now</p>
    <p>Nyt on @DateTime.Now.ToString(new CultureInfo("en-US"))</p>
</div>